@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model IEnumerable<UI.Models.NewsArticleViewModel>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    .card {
        background-color: #f4f4f4;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: box-shadow 0.3s, transform 0.2s; /* Add transform to transitions */
        min-height: 300px;
        cursor: pointer; /* Makes it clear the card is clickable */
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .card:active {
            transform: scale(0.98); /* Slightly scale down the card when clicked */
        }

        .card h2 {
            color: #333;
        }

    }
</style>
<div class="grid-container">
    @foreach (var i in Model)
    {
        if(i.NewsStatus == true)
        {
            <div class="card" onclick="redirectToDetails('@i.NewsArticleId')">
                <h2 class="text-center">@i.NewsTitle</h2>
                <p class="text-center">@i.Headline</p>
                <p><strong>Auhor:</strong> @i.CreatedBy!.AccountName</p>
                <p><strong>Category:</strong> @i.Category!.CategoryName</p>
                <p><strong>Date:</strong> @i.CreatedDate</p>
            </div>
        }
    }
</div>
<script>
    function redirectToDetails(id) {
        window.location.href = '/home/details?id=' + id;
    }
</script>
